.buttons,
.mainGrid {
  margin-top: 1rem;
}

.header {
  --size-half-header-icon: calc(var(--size-header-icon) / 2);
  --size-external-col: calc(
    var(--size-half-header-icon) + var(--size-header-icon)
  );

  display: grid;
  gap: var(--size-half-header-icon);
  grid-template-columns: var(--size-external-col) 1fr var(--size-external-col);
  align-items: center;
}

.title {
  grid-column: 2;
  text-align: center;
  font-weight: 400;
}

.githubIconPath {
  fill: var(--color-fg);
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-card-min-width), 1fr)
  );
  justify-content: center;
  padding: 1rem;
  gap: var(--size-grid-gap);
}

.grid.team {
  grid-template-columns: repeat(4, var(--size-card-min-width));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  }
}
