.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-card-min-width), 1fr)
  );
  justify-content: center;
  padding: 1rem;
  gap: var(--size-grid-gap);
}

.grid.team {
  grid-template-columns: repeat(4, var(--size-card-min-width));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  }
}
