.buttons,
.mainGrid {
  margin-top: 1rem;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--size-card-min-width), 1fr)
  );
  justify-content: center;
  padding: 1rem;
  gap: var(--size-grid-gap);
}

.grid.team {
  grid-template-columns: repeat(4, var(--size-card-min-width));
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, min(var(--size-card-min-width)));
  }
}
