.additionalFilters {
  display: grid;
  max-width: 924px;

  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-inline: auto;

  margin-top: 20px;
  padding-inline: 10px;
  width: 100%;

  /* Animating max height as you can animate display none */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.additionalFilters[data-show='true'] {
  max-height: 500px;
  transition: max-height 1s ease-in-out;
}

.checkbox {
  background-color: var(--color-bg);
}
